protobuf==3.20.1
sphinx
sphinx-autodoc-typehints
sphinx-gallery
sphinx_rtd_theme==1.2.0
colorcet
seaborn
pandas
numpy
matplotlib
numpy
scikit-learn
mvlearn
scipy
scikit-prox
tensorly
joblib
torch
torchvision
Pillow
jaxlib
jax
numpyro
arviz
pytorch-lightning
multiviewdata
matplotlib==3.8.0
seaborn==0.12.2
pandas==2.1.0
openTSNE
umap-learn
