protobuf==3.20.1
sphinx
sphinx-autodoc-typehints
sphinx-gallery
sphinx_rtd_theme==1.2.0
colorcet
pandas
numpy
matplotlib
numpy
scikit-learn
mvlearn
scipy
matplotlib
seaborn
scikit-prox
pandas
tensorly
joblib
torch
torchvision
Pillow
jaxlib
jax
numpyro
arviz
pytorch-lightning
multiviewdata