protobuf==3.20.1
sphinx
sphinx-autodoc-typehints
sphinx-gallery
sphinx_rtd_theme==1.2.0
colorcet
pandas
numpy
matplotlib
numpy
scikit-learn
mvlearn
scipy
matplotlib
seaborn
pandas
tensorly
joblib
pytorch
torchvision
Pillow
jaxlib
jax
numpyro
arviz
pytorch-lightning

# The following packages might not be available on conda; consider installing via pip
multiviewdata
scikit-prox