protobuf==3.20.1
cca_zoo[all]
sphinx
sphinx-gallery
sphinx-favicon
sphinx-sitemap
sphinx-design
numpydoc
pydata_sphinx_theme
myst-parser
colorcet
seaborn
pandas
matplotlib
torch
torchvision
Pillow
multiviewdata
matplotlib==3.8.0
seaborn==0.12.2
pandas==2.1.0
openTSNE
umap-learn
