sphinx==1.8.5
sphinx-autodoc-typehints
sphinx-gallery
pandas
numpy
matplotlib
numpy
scikit-learn>=0.23
mvlearn
scipy>=1.7
matplotlib
seaborn
pandas
tensorly
joblib
torch>=1.9.0
torchvision
Pillow
jax~=0.2.20
numpyro
arviz
pytorch-lightning